.item__img {
  width: 100%;
}

.item__title {
  width: 90%;
  margin: 0 auto;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.item__price-wrap {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  padding: 10px 0 27px 0;
  background: #f9f9f9;
}

.item__price {
  position: relative;
  margin: 0;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #5207f2;
}

.item__price::before {
  content: "\20BD ";
}

.item__price-day::after {
  position: absolute;
  content: "в день ";
  left: 0;
  bottom: -16px;
  font-size: 14px;
  line-height: 17px;
  color: #7c7c7c;
}

.item__price-week::after {
  position: absolute;
  content: "в неделю ";
  left: 0;
  bottom: -16px;
  font-size: 14px;
  line-height: 17px;
  color: #7c7c7c;
}

.item__price-month::after {
  position: absolute;
  content: "в месяц ";
  left: 0;
  bottom: -16px;
  font-size: 14px;
  line-height: 17px;
  color: #7c7c7c;
}

.item__deposit {
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.item__deposit::before {
  content: "Страховой депозит ";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #7c7c7c;
}

.item__deposit::after {
  content: " \20BD";
}

.item__address {
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #7c7c7c;
}

.item__map {
  margin-top: 15px;
  border-top: 1px solid #dfdfdf;
}

.item__reservation {
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
}

.item__reservation-wrap {
  width: 90%;
  margin: auto;
  display: flex;
}

.item__reservation-wrap .cost-metro {
  width: 49%;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
}

.item__reservation-cost {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #5207f2;
}

.item__reservation-cost::after {
  content: " \20BD/день";
}

.item__reservation-metro {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #7c7c7c;
}

.item__reservation-metro::before {
  content: "м. "; /* потом доделать https://blog.lftechnology.com/using-svg-icons-components-in-react-44fbe8e5f91 */
}

.item__description {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.item__description-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #7c7c7c;
}

.item__description-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.item__owner {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.item__owner-wrap {
  width: 100%;
}

.item__owner-name {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.item__owner-rate {
  display: flex;
  align-items: center;
}

.item__owner-number {
  margin: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.item__stat {
  list-style: none;
  width: 90%;
  padding: 0;
  margin: 0 auto;
  margin-top: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #7c7c7c;
}

.item__stat-list {
  margin-bottom: 15px;
}

.item__stat-list span {
  margin-bottom: 15px;
  margin-left: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.item__share {
  background: #e5e5e5;
}

.item__share-title {
  margin: 0;
  padding-top: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #7c7c7c;
}

.item__share-wrap {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
  padding-bottom: 45px;
}
