.search-form__wrap {
  border-top: none;
  box-shadow: 0 6px 5px 0px rgba(0, 0, 0, 0.3);
}

.search-form {
  display: flex;
}

.search-form__input input {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 8px;
  padding: 20px 12px 20px 47px;
  border: none;
  border-radius: 27px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #7c7c7c;
  background-color: #f9f9f9;
  background-image: url("../assets/icon/search.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: 17px 12px;
  z-index: 100;
}

.search-form__input-filter {
  width: 80%;
}

.search-form__input:focus {
  color: #000000;
}

.search-form__filter-button {
  display: block;
  width: 48px;
  height: 40px;
  border-radius: 27px;
  margin-left: 12px;
  background-color: #1890ff;
  background-image: url("../assets/icon/filter.svg");
  background-size: 13px 13px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.search-form__filter-button:hover,
.search-form__filter-button:focus {
  background-color: #40a9ff;
}

.anticon-search {
  display: none;
}
